.gradient-custom {
    /* fallback for old browsers */
    background: #f00000d7;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(255, 0, 0), rgb(92, 23, 4));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(21, 13, 13), rgb(62, 20, 10))
  }